*.o
*.pdf
CPP-0/subject
CPP-0/ex00/megaphone
CPP-0/ex01/PhoneBook
CPP-1/ex00/BraiiiiiiinnnzzzZ
CPP-1/ex02/HI_THIS_IS_BRAIN
CPP-1/ex03/Unnecessary_violence
CPP-1/ex04/*.replace
CPP-1/ex04/losers
CPP-1/ex05/harl
CPP-2/ex00/canon
CPP-2/ex01/canon
CPP-2/ex02/fixed
CPP-3/ex00/ClapTrap
CPP-3/ex01/ScavTrap
CPP-3/ex02/FragTrap
CPP-3/ex03/DiamondTrap
CPP-4/ex00/Animal
CPP-4/ex01/Animal
CPP-4/ex02/Animal
CPP-1/ex01/Moar_brainz!
CPP-1/ex06/harlFilter
CPP-2/ex00/fixed
CPP-2/ex01/fixed
CPP-5/ex00/Bureaucrat
CPP-5/ex01/Form